@import "../../../assets/style/variables.scss";

.about-first-sec {
  > div {
    width: 50%;
  }
  div img {
    width: 50%;
    display: block;
    margin: 0px auto;
    border-radius: 10px;
    @media screen and (max: width 500px) {
      width: 100%;
    }
  }
}
.goal {
  width: 91%;

  p {
    span {
      margin-right: 4%;
    }
  }
  img {
    width: 30px;

    margin-right: 2%;
  }
  .border {
    background-color: $sci-color;
    height: 3px;
    width: 48px;
    margin: 0px 4%;
    display: inline-block;
  }
}
@media screen and (min-width: 900px) {
  .progress_bar {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
.full-width {
  width: 100%;
}

.top-padding {
  padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child) {
  margin-left: 10px;
}

.form-container {
  margin: 100px;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.donation-form {
  padding: 40px;
  background-color: $sci-color !important ;
  border-radius: 10px;
}