<app-nav [breadcrumb]="currentbreadcrumb"></app-nav>

<div class="container">
  <div class="row">
    <div class="d-flex justify-content-between mb-4">
      <h3 class="mt-4">About Us</h3>
      <div class="icon mt-2">
        <img
          class="about_icon"
          src="../../../assets/images/about/about_icon.png"
        />
      </div>
    </div>
    <!-- {
      "AboutUsMain": {
          "title": "rrr@fff.com",
          "intro": "ff",
          "image_path": "StaticPages/AboutUs/AboutUs/image/2iA4NyW7js615ae9abe54d7.",
          "cover_path": "StaticPages/AboutUs/AboutUs/cover/ezOTKoUk3n615ae9abe4a42."
      },
      "AboutUsSection2": {
          "intro": "this is section 2",
          "image_path": null
      },
      "AboutUsWhyChooseUs01": {
          "title": "this is why choose us 1",
          "intro": "hello",
          "image_path": null
      },
      "AboutUsWhyChooseUs02": {
          "title": "this is why choose us 2",
          "intro": "hello",
          "image_path": null
      },
      "AboutUsWhyChooseUs03": {
          "title": "this is why choose us 3",
          "intro": "hello",
          "image_path": null
      },
      "AboutUsWhyChooseUs04": {
          "title": "this is why choose us 4",
          "intro": "hello",
          "image_path": "StaticPages/AboutUs/SectionNo4/image/izAb8ASmy2610f6697e5eb1.png"
      }
  } -->
    <section class="flex about-first-sec align-items-md-start mb-20">
      <div>
        <h4 class="text-capitalize color-sec mb-40">
          {{ aboutData.AboutUsMain.title }} 
        </h4>

        <p>
          {{ aboutData.AboutUsMain.intro }}
        </p>
      </div>
      <div>
        <img src="../../../assets/images/logo.png" />
      </div>
    </section>
    <section class="mb-20 about_banner">
      <img src="{{ baseUrl +  aboutData.AboutUsMain.image_path }}" />
    </section>
    <section class="mb-40">
      <p class="px-4">
        {{ aboutData.AboutUsSection2.intro }}
      </p>
    </section>
    <h4 class="text-capitalize color-sec mb-40 text-center">Why choose us</h4>
    <section class="flex choose mb-40">
      <div>
        <h5 class="color-pri">
          <span>{{ choose[chooseContent].num }} </span>
          {{ choose[chooseContent].title }}
        </h5>
        <p class="px-4">
          {{ choose[chooseContent].content }}
        </p>
      </div>
      <div class="icons">
        <div (click)="setChooseContent(0)">
          <div
            class="img"
            [style.background-image]="
              'url(' + baseUrl + aboutData.AboutUsWhyChooseUs01.image_path + ')'
            "
          ></div>
        </div>
        <div (click)="setChooseContent(1)">
          <div
            class="img"
            [style.background-image]="
              'url(' + baseUrl + aboutData.AboutUsWhyChooseUs02.image_path + ')'
            "
          ></div>
        </div>

        <div (click)="setChooseContent(2)">
          <div
            class="img"
            [style.background-image]="
              'url(' + baseUrl + aboutData.AboutUsWhyChooseUs03.image_path + ')'
            "
          ></div>
        </div>

        <div (click)="setChooseContent(3)">
          <div
            class="img"
            [style.background-image]="
              'url(' + baseUrl + aboutData.AboutUsWhyChooseUs04.image_path + ')'
            "
          ></div>
        </div>
      </div>
    </section>
  </div>
</div>
