<div class="animated fadeIn">
  <h3>Donations</h3>
  <div class="card card-main">
    <div class="card-body">
      <h4>Cover Photo</h4>

      <form>
        <section class="sec">
          <div draggable="true" ngClass="{{ dragAreaClass }}">
            <div class="row">
              <div class="col-md-12 text-center text">
                <span
                  ><img src="../../../assets/img/images-admin/home/upload.svg"
                /></span>
                <span>Drag and drop Photo here</span>
                <a
                  href="javascript:void(0)"
                  class="main-btn"
                  (click)="file.click()"
                >
                  Browse Photo
                </a>

                <input
                  type="file"
                  #file
                  [multiple]="false"
                  (change)="onFileChange($event)"
                  style="display: none"
                />
              </div>
            </div>
          </div>
        </section>
        <section class="sec">
          <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Write the title"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Subtitle</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Write the Subtitle"
            />
          </div>
        </section>
        <section class="sec">
          <h4>Our New Achivement</h4>

          <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Write the title"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Subtitle</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Write the Subtitle"
            />
          </div>
          <div class="d-flex form-group">
            <label for="exampleInputEmail1">Image</label>
            <div class="photo">
              <div class="text">
                <span
                  ><img src="../../../assets/img/images-admin/home/upload.svg"
                /></span>
                <span class="no-margin"
                  >You can drag and drop files here to add them.</span
                >
                <span class="warn"
                  >* You need to upload 3 image for this section</span
                >
                <button class="main-btn">Browse Photo</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Goal</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Write the Subtitle"
            />
          </div>
        </section>

        <div class="d-flex justify-content-between btns">
          <button class="main-btn" type="submit">Save</button>
          <button class="main-btn" type="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
