<div class="animated fadeIn">
  <h3>Setting</h3>
  <div class="card card-main">
    <div class="card-body">
      <h4>Profile Info</h4>

      <form [formGroup]="profiletForm" (submit)="submit()">
        <section class="d-flex align-items-center sec">
          <div class="form">
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>

              <div class="form-group">
                <div>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputPassword1"
                    placeholder="Arya Stark"
                    formControlName="name"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
  
                <div class="form-group">
                  <div>
                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputPassword1"
                      placeholder="Example@gmail.com"
                      formControlName="email"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Password</label>
  
                <div class="form-group">
                  <div>
                    <input
                      type="password"
                      class="form-control"
                      id="exampleInputPassword1"
                      placeholder="........."
                      formControlName="password"

                    />
                  </div>
                </div>
              </div>
          </div>

          <div class="img">
            <img src="../../../../assets/img/images-admin/admin_img.png" />
            <p class="text-center">Change profile picture</p>
            <p class="text-center warn">Remove profile picture </p>
          </div>
        </section>
          <button class="main-btn"   [disabled]="profiletForm.valid" type="submit">Save Changes</button>
      
      </form>
    </div>
  </div>
</div>
