

<div class="animated fadeIn">
    <div class="container">
      <div class="row">
        <h3>
          Donations
        </h3>
      </div>

   <div class="card card-main">
       <div class="d-flex align-items-center justify-content-between">
        <h3>
            Current  Donations
            </h3>
            <a class="main-btn" routerLink="/notifications/newdonation">Add</a>
       </div>
   
    <div class="card-body quick">
        <div class="row">
            <div class="current">
                <img src="assets/img/images-admin/achievemnt/1.png" />
               
                <div>
                    <h4>lorem</h4><p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, consectetur nisi. Id at ratione vel labore ex vitae quibus
                    </p>
                </div>
            </div>
        </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body donation-card">
              <div>
                <div class="card-text">
                  <p>Doners</p>
                  <p>500</p>
                </div>

                <figure>
                    <img src="assets/img/images-admin/Donation/1.svg" />
                </figure>
              </div>
              <div>
                <p class="priColor">12pp</p>

                <p>Since last week</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body donation-card">
              <div>
                <div class="card-text">
                  <p>Doners</p>
                  <p>500</p>
                </div>

                <figure>
                    <img src="assets/img/images-admin/Donation/2.svg" />
                </figure>
              </div>
              <div>
                <p class="priColor">12pp</p>

                <p>Since last week</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body donation-card">
              <div>
                <div class="card-text">
                  <p>Doners</p>
                  <p>500</p>
                </div>

                <figure>
                    <img src="assets/img/images-admin/Donation/3.svg" />
                </figure>
              </div>
              <div>
                <p class="priColor">12pp</p>

                <p>Since last week</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      </div>
<hr class="gray-border"/>

<div class="d-flex align-items-center justify-content-between">
    <h3>
            Quik  Donations
        </h3>
            <button class="main-btn">Add</button>
       </div>
      <div class="card-body quick">
        <div class="row">
            <div class="current">
                <img src="assets/img/images-admin/Donation/bg.png" />
               
                <div>
                    <h4>lorem</h4><p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, consectetur nisi. Id at ratione vel labore ex vitae quibus
                    </p>
                </div>
            </div>
        </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body donation-card">
              <div>
                <div class="card-text">
                  <p>Doners</p>
                  <p>500</p>
                </div>

                <figure>
                    <img src="assets/img/images-admin/Donation/1.svg" />
                </figure>
              </div>
              <div>
                <p class="priColor">12pp</p>

                <p>Since last week</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body donation-card">
              <div>
                <div class="card-text">
                  <p>Doners</p>
                  <p>500</p>
                </div>

                <figure>
                    <img src="assets/img/images-admin/Donation/2.svg" />
                </figure>
              </div>
              <div>
                <p class="priColor">12pp</p>

                <p>Since last week</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body donation-card">
              <div>
                <div class="card-text">
                  <p>Doners</p>
                  <p>500</p>
                </div>

                <figure>
                    <img src="assets/img/images-admin/Donation/3.svg" />
                </figure>
              </div>
              <div>
                <p class="priColor">12pp</p>

                <p>Since last week</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      </div>
      </div>
      </div>
      </div>
      