<div class="animated fadeIn">
  <div class="container">
    <div class="row">
      <h3>
        Donations Of
        <span class="priColor">Build a New School For African Childs</span>
      </h3>
    </div>

    <div class="card card-main">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="card" >
              <div class="card-body donation-card">
                <div>
                  <div class="card-text">
                    <p>Doners</p>
                    <p>500</p>
                  </div>

                  <figure>
                    <img src="assets/img/images-admin/human_card.svg" />
                  </figure>
                </div>
                <div>
                  <p class="priColor">12pp</p>

                  <p>Since last week</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" >
              <div class="card-body donation-card">
                <div>
                  <div class="card-text">
                    <p>Doners</p>
                    <p>500</p>
                  </div>

                  <figure>
                    <img src="assets/img/images-admin/coin_card.svg" />
                  </figure>
                </div>
                <div>
                  <p class="priColor">12pp</p>

                  <p>Since last week</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" >
              <div class="card-body donation-card">
                <div>
                  <div class="card-text">
                    <p>Doners</p>
                    <p>500</p>
                  </div>

                  <figure>
                    <img src="assets/img/images-admin/hand_card.svg" />
                  </figure>
                </div>
                <div>
                  <p class="priColor">12pp</p>

                  <p>Since last week</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
