<div class="animated fadeIn">
  <div class="container">
    <div class="row">
      <h3>
        Donors
      </h3>
    </div>

    <div class="card card-main no_border_after">
      <div class="card-body">
      
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Phone Num.</th>
              <th>Email</th>
              <th>Date</th>
              <th>Payment Method</th>
              <th>Amount</th>

            </tr>
          </thead>
          <tbody>
            <!-- {
              "id": 2,
              "name": "Sameh Eldawy",
              "phone": "01011122821",
              "email": "sameh@gmail.com",
              "created_at": "2021-08-10T12:19:45.000000Z",
              "updated_at": "2021-08-10T12:20:09.000000Z"
          } -->
            <tr *ngFor="let item of donors">
              <td>{{item.name}}</td>
              <td>{{item.phone}}</td>
              <td>{{item.email}}</td>
              <td> {{getDate(item.date)}}</td>
              <td>{{item.method_name}}</td>
              <td>{{item.email}}</td>
            </tr>
          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
