<app-nav [breadcrumb]="currentbreadcrumb" class="mb-80"></app-nav>
<div class="container mb-40 pt-5">
  <div class="row">
    <section class="flex getintouch">
      <div>
        <h3 class="mb-20">Contact Us</h3>
        <p class="mb-20 color-sec get_title">Get In Touch</p>
        <p class="mb-40">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi magni
          explicabo sint neque reprehenderit,
        </p>
        <div class="icons">
          <div class="flex align-items-start">
            <img src="../../../assets/images/contact/phone.png" />
            <p>
              <span> Phone </span>
              +1234567890
            </p>
          </div>
          <div class="flex align-items-start">
            <img src="../../../assets/images/contact/location.png" />
            <p>
              <span> Location </span>
              lorem , ipsum
            </p>
          </div>
          <div class="flex align-items-start">
            <img src="../../../assets/images/contact/mail.png" />
            <p>
              <span> Email </span>
              demo@gmail.com
            </p>
          </div>
        </div>
      </div>
      <div class="contact-form donation-form">
        <mat-card>
          <form
            [formGroup]="contactForm"
            class="form-container donation-form"
            (ngSubmit)="sendcontactForm()"
          >
            <mat-form-field appearance="outline">
              <mat-label>Full Name</mat-label>

              <input
                formControlName="name"
                matInput=""
                placeholder="Full Name"
                type="text"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>

              <input
                formControlName="email"
                matInput=""
                placeholder="Email"
                pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"

                type="email"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Phone Number</mat-label>

              <input
                formControlName="phone"
                matInput=""
                placeholder="Phone Number"
                type="text"
                required
                minlength="10"
              />
            </mat-form-field>
     
            <mat-form-field appearance="outline">
              <mat-label>Subject</mat-label>

              <input
                formControlName="subject"
                matInput=""
                required
                placeholder="Subject"
              />
            </mat-form-field>
            <mat-form-field appearance="outline" class="textarea">
              <mat-label>Message</mat-label>

              <textarea
                formControlName="body"
                matInput=""
                required
                placeholder="Message"
              ></textarea>
            </mat-form-field>

            <button type="submit" >
              Submit
            </button>
          </form>
        </mat-card>
      </div>
    </section>
  </div>
</div>
