<app-nav [breadcrumb]="currentbreadcrumb"></app-nav>

<div class="container  mt-5">
  <div class="row">
    <section class="responsive-doc flex about-first-sec align-items-md-start ">
      <div>
        <h4 class="text-capitalize color-sec mb-40">
          Charity to change child's and poor peaple life
        </h4>

        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Reprehenderit doloribus dolor quidem perspiciatis iste quam deserunt
          tenetur rerum fugiat blanditiis. Dolor officiis optio voluptas tempore
          vero omnis facere laudantium voluptatem.
        </p>
      </div>
      <div>
        <img src="../../../assets/images/logo.png" />
      </div>
    </section>
  </div>
</div>
<section class="bg-gray pb-40 pt-40">
  <div class="container">
    <div class="row doc mb-80 align-items-center">
      <div class="col-md-6 col-sm-12">
        <h4>Name doc1</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod labore,
          quam doloremque laboriosam quibusdam, blanditiis ipsam deleniti soluta
          aperiam exercitationem maiores iusto dolorum unde iste asperiores.
          Dolore incidunt sint reiciendis.
        </p>
        <div class="flex align-items-center mb-2">
          <img src="../../../assets/images/documents/pdf.png" />
         <span>name1</span> <a href="assets/files/sample.pdf" target="_blank">Download  </a>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div>
          <img src="../../../assets/images/documents/largepreview.png" />
        </div>
      </div>
    </div>

    <div class="row doc mb-80 align-items-center">
      <div class="col-md-6 col-sm-12">
        <div>
          <img src="../../../assets/images/documents/largepreview.png" />
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <h4>Name doc1</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod labore,
          quam doloremque laboriosam quibusdam, blanditiis ipsam deleniti soluta
          aperiam exercitationem maiores iusto dolorum unde iste asperiores.
          Dolore incidunt sint reiciendis.
        </p>
        <div class="flex align-items-center mb-2">
          <img src="../../../assets/images/documents/pdf.png" />
          <span>name1</span> <a href="assets/files/sample.pdf" target="_blank">Download  </a>
        </div>
      </div>
    </div>

    <div class="row doc align-items-center">
      <div class="col-md-6 col-sm-12">
        <h4>Name doc1</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod labore,
          quam doloremque laboriosam quibusdam, blanditiis ipsam deleniti soluta
          aperiam exercitationem maiores iusto dolorum unde iste asperiores.
          Dolore incidunt sint reiciendis.
        </p>
        <div class="flex align-items-center mb-2">
          <img src="../../../assets/images/documents/pdf.png" />
          <span>name1</span> <a href="assets/files/sample.pdf" target="_blank">Download  </a>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div>
          <img src="../../../assets/images/documents/largepreview.png" />
        </div>
      </div>
    </div>
  </div>
</section>
